.grid-two {

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: 'Questa', sans-serif;
  line-height: 1.42857;
  color: #333;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.line {
  font-size: 1.3em;
  margin-top: 10px;
  color: #4e2121;
}

h2{
  color: #00295b;
  font-family: 'Questa', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

img {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: OpenSans;
  line-height: 1.42857;
  color: #333;
  box-sizing: border-box;
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}


.info-container {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: OpenSans;
  line-height: 1.42857;
  color: #333;
  box-sizing: border-box;
  flex: 0 0 50%;
  margin-top: 10px;
  padding: 0 5px;
  height: auto;
  position: relative;
  max-width: 50%;

}
p {

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: OpenSans;
  line-height: 1.42857;
  box-sizing: border-box;
  color: #333;
  margin: 0 0 10px;
}

.btn-secondary {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 1.42857;
  box-sizing: border-box;
  letter-spacing: .05em;
  transition: all .25s ease-in-out;
  display: inline-block;
  padding: 7px 12px;
  font-family: libel_suitregular;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  user-select: none;
  min-width: 150px;
  white-space: nowrap;
  color: #fff;
  background: #8f1b2b;
  border-color: #8f1b2b;
  text-decoration: none;
}

.btn-primary {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 1.42857;
  box-sizing: border-box;
  letter-spacing: .05em;
  transition: all .25s ease-in-out;
  display: inline-block;
  padding: 7px 12px;
  font-family: libel_suitregular;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  user-select: none;
  min-width: 150px;
  white-space: nowrap;
  color: #fff;
  background: #00295b;
  border-color: #00295b;
  text-decoration: none;
}

.my-component {
  font-family: 'Questa', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  text-transform: none;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 1px 1px #333;
  font-style: italic;
  /* Add other styles here */
}

.latest-ships-heading {
  color: #0066cc; /* Change color as needed */
  font-size: 24px; /* Adjust font size as needed */
  font-style: italic;
    font-weight: 500;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    text-transform: none;
    line-height: 1.2em;
    color: #fff;
    text-shadow: 1px 1px #333;
  /* Add more styles as needed */
}