Add your styles to a CSS file
.overlay {
  position:-ms-page;
  top: 10;
  left: 0;
  width: 10%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure a higher z-index than other elements */
}

.details-container {
  background-color: #c5e6f5;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  z-index: 1100;
}
.details-container img {
  max-width: 40%; /* Ensure the image doesn't exceed the container width */
  max-height: 200px; /* Set the maximum height of the image */
  display: block; /* Ensure the image doesn't have extra spacing below it */
  margin: 0 auto; /* Center the image horizontally */
}
.image{
  max-width: 300%;
}
