/* .login-container {
  position: relative;
  width: 650px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background:url('https://th.bing.com/th/id/OIP.U5m56nHA027gGLK3mOcXtAHaEo?rs=1&pid=ImgDetMainhttps://www.bing.com/images/blob?bcid=RO3YeoI2fFUGz5m-pRi-IZYYcsY-.....90');
  box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21;
}

#register-page {
  position: relative;
  width: 650px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background:url('https://th.bing.com/th/id/OIP.U5m56nHA027gGLK3mOcXtAHaEo?rs=1&pid=ImgDetMainhttps://www.bing.com/images/blob?bcid=RO3YeoI2fFUGz5m-pRi-IZYYcsY-.....90');

  box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21;
}

.login-container {
  padding: 40px;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.login-container>h1 {
  margin-top: 15px;
  font-weight: 900;
  font-size: 2.7rem;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 17px;
}

label,
input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 8px;
  font-size: 27px;
  color: white;
  margin-top: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

label:nth-of-type(2) {
  margin-top: 20px;
}

input::placeholder {
  color: rgba(184, 179, 179, 0.678);
};


label[for="female"] {
  margin-top: 10px;
}

input[type="username"],
input[type="password"],
input[type="number"],
input[type="email"] {
  background: #ecf0f3;
  padding: 30px;
  padding-left: 20px;
  height: 50px;
  margin-top: 10px;
  font-size: 24px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

label[for="terms"]>input {
  display: inline;
}

.btn.submit {
  margin-top: 30px;
  background: #778e9c;
  height: 60px;
  border-radius: 20px;
  color: white;
  font-size: 26px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.btn.submit:hover {
  color: white;
  background-color: #8fa9b9;
}

.container {
  text-align: left;
  margin-top: 0px;
}

.field>span {
  position: absolute;
  font-size: 18px;
  bottom: 17px;
  right: 8px;
  text-decoration: none;
  color: black;
  background: rgb(235, 157, 142);
  border-radius: 10px;
  padding: 5px;
} */


/* ---------- GENERAL ---------- */
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #c0c0c0;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 5vmin;
}

h2 {
  font-size: 1.75rem;
}

input {
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* ---------- ALIGN ---------- */
.align {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  place-items: center;
}

/* ---------- BUTTON ---------- */

.button {
  background-color: #33cc77;
  color: #fff;
  padding: 0.25em 1.5em;
}

.button:focus,
.button:hover {
  background-color: #28ad63;
}

/* ---------- ICONS ---------- */
.icons {
  display: none;
}

.icon {
  fill: currentcolor;
  display: inline-block;
  height: 1em;
  width: 1em;
}

/* ---------- LOGIN ---------- */
.login {
  width: 400px;
}

.login__header {
  background-color: #f95252;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
  color: #fff;
  padding: 1.25em 1.625em;
}

.login__header :first-child {
  margin-top: 0;
}

.login__header :last-child {
  margin-bottom: 0;
}

.login h2 .icon {
  margin-right: 14px;
}

.login__form {
  background-color: #fff;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  color: #777;
  display: grid;
  grid-gap: 0.875em;
  gap: 0.875em;
  padding: 1.25em 1.625em;
}

.login input {
  border-radius: 0.1875em;
}

.login input[type="email"],
.login input[type="password"] {
  background-color: #eee;
  color: #777;
  padding: 0.25em 0.625em;
  width: 100%;
}

.login input[type="submit"] {
  display: block;
  margin: 0 auto;
}